.outline {
  outline: 1px solid red;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
}

.hero {
  height: 80vh;
}